
footer {
    padding: 20px 0;
    background-color: #eb7b3b;
    color: #1d6fa5;
}

.contributors {
    color: #1d6fa5;
}

footer ul {
    list-style: none;
    color: #1d6fa5
}

footer a {
    color: #1d6fa5;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content ul li {
    margin-bottom: 5px;
}

.logo {
    height: 175px;
}

.logo-container {
    margin-left: 45vw; /* This will push the logo to the right */
}

.copyright {
    text-align: center;
}
